@{
    ViewData["Title"] = "Index";
}

<div id="startPage">
    <section id="welcome">
        <article id="introText">
            <h1>Welcome to swapp!</h1>
            <p>
                First ecofriendly service that allows you to connect with other
                customers who might be looking for something that you have and don’t need anymore.
            </p>
            <p>
                As wise man said – <i>”One mans trash is another mans treasure!”</i>
            </p>
        </article>
        <div id="landing-image">
            <img src="~/images/welcomePic.svg" alt="Welcome! Swap your old stuff with others old stuff" />
        </div>
    </section>
    
    <section id="login_signup">
        <div class="login_signup">
            <a asp-action="Login" class="btn red-button">
                <p>login</p>
            </a>
        </div>
        


        <i>or</i>

        <div class="login_signup">
            <a asp-action="SignUp" class="btn red-button">
                <p>sign up</p>
            </a>
        </div>
        
    </section>
</div>


        





