
@{
    ViewData["Title"] = "Login";
}

@model Login

<div class="login_signup_page">
    <header>
        <h2>log In</h2>
    </header>
    <form asp-action="Login" method="post" class="form">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-group">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label asp-for="Email" hidden></label>
            <input asp-for="Email" class="form-control" placeholder="email"/>
        </div>
        <div class="form-group">
            <span asp-validation-for="Password" class="text-danger"></span>
            <label asp-for="Password" hidden></label>
            <input asp-for="Password" class="form-control" placeholder="password"/>
        </div>
        <button class="btn submit_button" type="submit">
            <p>Log In</p>
        </button>
    </form>
</div>



